body, html {
    margin: 0;
    padding: 0;
    height: 100%;
}

body{
    background-image: url("aba.jpg");
    background-size: cover;
    display: flex;
    height: 100vh;
    margin: 0; 
}

.content {
    position: relative;
    z-index: 1;
    padding: 20px;
    color: white;
}

header {
    text-align: center;
    margin-bottom: 30px;
}

section {
    background-color: rgba(0, 0, 0, 0.7);
    padding: 20px;
    border-radius: 10px;
}

p {
    font-size: 18px;
    line-height: 1.6;
}

/* Hover effect to trigger transition */
.content:hover .background {
    clip-path: polygon(0 0, 0 100%, 100% 100%, 100% 0);
}
