* {
  margin: 0;
  padding: 0;
  font-family: cursive;
}

.container {
  width: 100%;
  height: 100vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url("zzz.jpg");
  background-size: cover;
  padding-left: 8%;
  padding-right: 8%;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center; /* Center items vertically */
}

.row {
  display: flex;
  font-size: 50px;
  margin-left: 80px;
  top: 10px;
}

.col {
  flex-basis: 50%;
}

.button4 {
  border: none;
  color: black;
  padding: 10px 50px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
  background-color: #b38282;
  border: 2px solid #e7e7e7;
  border-radius: 20px;
  font-family: cursive;
}

.button4:hover {
  background-color: rgba(255, 255, 255, 0.7);
  color: white;
}
.card{
  width:200px;
  height:230px;
  display: inline-block;
  border-radius: 10px;
  padding: 15px 25px;
  box-sizing: border-box;
  cursor: pointer;
  margin:10px 15px;
  background-position: center;
  background-size: cover;
  transition: 0.5s;
}

.card1{
  background-image: url("p1.jpg");
}
.card2{
  background-image: url("p2.jpg");
}
.card3{
  background-image: url("image1.jpg");
}
.card4{
  background-image: url("image2.jpg");
}
.card:hover{
  transform: translateY(-10px);
}