body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* This ensures the body takes the full height of the viewport */
    background-color: #bca487;
    
}

.transparent-container {
    background-color: rgba(255, 255, 255, 0.8);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    width: 50%;
}

h1 {
    color: #333;
    text-align: center;
}

.quiz-options {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    align-items: center;
}

.quiz-options a {
    background-color: black;
    color: white;
    padding: 8px;
    width: 50%;
    margin-bottom: 10px;
    text-decoration: none;
    text-align: center;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.quiz-options a:hover {
    background-color: #a1b7a2;
}
