/* Style for the top navigation bar */
.topnav {
  overflow: hidden;
  background-color: #333;
  display: flex; /* Background color for the navigation bar */
}

.w3-sidebar {
  width: 250px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  height: 100%;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.topnav a {
  float: left;
  display: block;
  color: #f2f2f2; /* Text color for non-hover state */
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.topnav a:hover {
  background-color: #ddd; /* Background color on hover */
  color: black;
}

/* Dropdown styles */
.dropdown {
  float: left;
  overflow: hidden;
}

.dropdown .dropbtn {
  font-size: 14px; /* Adjusted font size */
  border: none;
  outline: none;
  color: #f2f2f2; /* Text color for the dropdown button */
  padding: 14px 16px; /* Adjusted padding */
  background-color: inherit;
}

.dropdown:hover .dropbtn {
  background-color: #4CAF50; /* Green background color on hover */
  color: white; /* Text color on hover */
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9; /* Background color for the dropdown content */
  min-width: 160px;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: #ddd; /* Background color on hover */
}

.dropdown:hover .dropdown-content {
  display: block;
}

/* Additional styles for footer, social icons, header, and body */
footer {
  background-color: #a08c79;
  color: rgb(17, 16, 13);
  padding: 20px 50px;
  text-align: center;
}

/* Styles for header and body */
header {
  background-color: #a08c79;
  color: rgb(17, 16, 13);
  padding: 10px 50px;
  text-align: center;
  font-family: cursive;
  
}

body {
  font-family: 'Times New Roman', Times, serif;
  font-size: small;
  background-color: rgb(180, 175, 176);
  background-image: url("xxx.jpg");
  background-size: cover;
  height: 100vh;
}

.topnav input[type=text] {
  float: right;
  padding: 15px;
  margin-top: 8px;
  margin-right: 16px;
  border: none;
  font-size: 14px;
}

/* Style for the search bar */
.search-bar {
  padding: 10px;
  border: none;
  font-size: 14px;
  
}

/* Style for the search icon */
.search-icon {
  background-color: #ddd5d5;
  color: #f2f2f2;
  border: none;
  padding: 14px;
  cursor: pointer;
  margin-top:8px;
}

.search-container {
  float: right;
  margin-top: 8px;
  margin-left: 16px;
  margin-left:360px;
}


* {
  box-sizing: border-box;
}

body {
  font-family: Verdana, sans-serif;
}

.mySlides {
  display: none;
}

img {
  vertical-align: middle;
}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  margin: auto;
  position: relative;
  left: 130px;
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active {
  background-color: #717171;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {
      opacity: .4;
  }

  to {
      opacity: 1;
  }
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .text {
      font-size: 11px;
  }
}
